html {
    scroll-behavior: smooth;
  }
:root{
    --light-red: #ff4343;
    --main-red: #ee3534;
    --dark-red:#cc2c2c;
    --light-black: #464140;
    --main-black: #221d1c;
    --dark-black: #141211;
    --main-white: rgb(255, 255, 255);
}
.width-80{
    width: 80%;
}
.spacer{
    position: relative;
    justify-content: center;
    margin-top: 3rem;
}
.mar-auto{
    margin: auto;
    justify-content: center;
}
body{
    font-family: 'Source Code Pro', monospace!important;
    text-decoration: none;
    color: var(--main-white);
    background-color: var(--light-black);
}
.navbar{
    z-index: 2;
}
.navbar-nav .nav-item{
    margin: 0.5875rem
}
.hero{
    background:linear-gradient(180deg, #504f4f71 , #0f0f0f71 ), url('./img/herobg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-white) 
}
.hero .container{
    position: relative;
    top: 20vh;
    text-align: center;
    margin: auto;
    z-index: 3;
    text-shadow: 0px 0px 10px #ee3534;
}
.tsparticles-canvas-el{
    position: absolute;
    height: 90vh;
    width: 100vh;
    z-index: 1;
}

.profile{
    height: 20%;
    width: 20%;
    border:5px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ee3534;
    margin-bottom: 15px;
}
.about{
    position: relative;
    display: block;
    background-color: var(--main-black);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--dark-black);

}
.txt-u-line{
    display: inline-block;
    padding: 2px;
    border-bottom: 3px solid var(--main-red)  ;
}
.luffy{
    position: absolute;
    top: -15px;
    right: -20px;
}

.m-10{
    margin: 10px;
}
.card-m-w{
    max-width: 45%;
    background-color: var(--main-black);
    position: relative;
    display: inline-block;
    margin: 30px 2.5%;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--dark-black);
}
.card-img{
    height: 100% ;
    width: 173px;
    object-fit: cover;
    overflow: hidden;
}
.card-img:hover{
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 4;
    height: 80vh;
    width: auto;
}
.heading-center{
    text-align: center;
    text-decoration: underline solid var(--main-red) 3px;
}
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }


















@media (min-width: 768px) and (max-width: 1024px) {
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
.hero .container{
    position: relative;
    top: 30vh;
    text-align: center;
    margin: auto;
    z-index: 3;
    text-shadow: 0px 0px 10px #ee3534;
}
.profile{
    height: 50%;
    width: 50%;
    border:5px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ee3534;
    margin-bottom: 15px;
}
.luffy{
    position: absolute;
    top: -10px;
    right: -10px;
}
.card-m-w{
    position: relative;
    max-width: 80%;
    background-color: var(--main-black);
    display: inline-block;
    margin: 30px 10%;

    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--dark-black);
}
.card-container{
    margin: auto;
}
.card-img{
    height: 250px ;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
    
  }
@media (max-width: 800px) {
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */ 
  .profile{
    height: 50%;
    width: 50%;
    border:5px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ee3534;
    margin-bottom: 15px;
}
  .luffy{
      display: none;
  }
  .card-m-w{
    max-width: 100%;
    background-color: var(--main-black);
    position: relative;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--dark-black);
}
.card-img{
    height: 250px ;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card-img:hover{
    position: static;
    z-index: 2;
    height: 250px;
    width: 100%;
}
.heading-center{
    text-align: center;
    text-decoration: underline solid var(--main-red) 3px;
    margin-bottom: 20px;
}
    
}
  

  

